@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./newspaper.jpg");
    background-size: cover;
    
}

.container {
    background-color: #2f313188;
    border-radius: 6px;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom:20px;
    text-align: center;
}
table, td, tr {
    border: 1px solid black;
    height: 25px;
    }
table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

table tr .preenchido {
    background-color: #e0e4e7;
}

.dicas {
    margin: 25px;
    padding: 25px;
    width: 33%;
    height: 10%;
    background-color: #ecf0f3a4;
    border-radius: 6px;
    font-size: 18px;
}

.dicas input {
    height: 19px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    border: 0.1px solid black;
}

.dicas button {
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background-color: rgba(19, 20, 19, 0.808);
    height: 23px;
    border-radius: 4px;
    width: 64px;
    font-size: 14px;
}
