@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 45px;
    margin-top: 50px;
    text-align: center;
}
table, td, tr {
    border: 1px solid black;
    height: 25px;
    }
table {
    width: 55%;
    border-collapse: collapse;
    text-align: center;
}

table tr .preenchido {
    background-color: #e0e4e7;
}

.dicas {
    margin: 15px;
    padding: 25px;
    width: 33%;
    height: 10%;
    background-color: #e0e4e7;
    border-radius: 6px;
}
